---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font-family: 'Orbitron', sans-serif; 
}

h1, h3, h4, h5 {
  font-family: 'Sedgwick Ave Display', cursive;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 120px;
}


.landscape {
  h1{
    bottom: 0;
    position: absolute;
    text-align: center;
  }
  background-image: url('node2.gif');
  height: 400px;
  max-height: 600px;
  width: 100%;
}